:root {
    --primary-color: #00f590;
    --background-color: #033746;
    --background-degrade:linear-gradient(310deg, rgba(11,227,201,1) 0%, rgba(0,245,144,1) 100%);;
    --text-color: #ffffff;
    --secondary-text-color: #b3b3b3;
    --border-color: #00f590;
    --shadow-color: rgba(0, 245, 144, 0.5);
    --button-hover-bg: #00d47d;
    --button-hover-shadow: rgba(0, 245, 144, 0.75);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
@media(max-width:600px){
  .container{
    width: 100% !important;
  }
}
.container {
    text-align: center;
    width: 80%;
    max-width:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile{
  width:100%;
  text-align:center;
}
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #0be3c9;
    box-shadow: 0 0 10px #0be3caa6;
}

.name {
    font-size: 22px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.badges {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.badges i {
    font-size: 24px;
    color: var(--primary-color);
}
.links{
  width:90%;
  max-width:400px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-block: 15px;
    margin: 10px 0px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    transition: 0.5s ease;
    user-select: none;
    color: var(--text-color);
    box-shadow: 0 0 5px var(--shadow-color);
}

.btn i {
    margin-right: 10px;
}

.btn:hover, .btn:focus {
    color: var(--text-color);
    background: var(--background-degrade);
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 15px var(--button-hover-shadow);
}

hr {
    width: 80%;
    border: 0.5px solid var(--border-color);
    margin: 20px 0;
}

.footer {
    font-size: 12px;
    color: var(--secondary-text-color);
    text-align: center;
}

/* Estilos do botão de compartilhamento */
#shareButton {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    z-index: 997;
}

#shareButton i {
    color: var(--background-color);
}

#shareButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

/* Estilos do popup */
#popup-share {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    max-width: 90%;
    width: 400px;
}

#popup-share.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/* Imagens Flutuantes no Fundo */
.floating-img {
    position: absolute;
    width: 150px;
    animation: floatAnimation 5s infinite alternate ease-in-out;
}

#floating-img-1 {
    top: 10%;
    left: 5%;
}

#floating-img-2 {
    bottom: 10%;
    right: 5%;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}
